* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: honeydew;
}

h1 {
  color: crimson;
}

p {
  color: darkorange;
}

img {
  width: 200px;
  border: 1px solid black;
}

footer {
  background: hotpink;
  padding: 10px;
  width: 20%;
}
